.input-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
}

.input-block label {
    margin-bottom: 0.2rem;
}

.input-block input {
    height: 40px;
    border: 1px gray solid;
    border-radius: 8px;
    padding-left: 1rem;
    outline: none;
}

.input-block small {
    margin-left: 1rem;
    margin-top: 0.1rem;
}